body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 200%;
}
/*.fullscreen {

}*/
canvas {
  display: none;
}
#canvas canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
.screen {
  overflow-x: hidden;
}
#startScreen {
  height: 100vh;
  z-index: 1;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  cursor: pointer;
  background-color: #dddddd;
  display: block;
  padding: 10px;
  width: 200px;
  border: 0;
  font-size: 0.8em;
  box-shadow: none;
  border-radius: 0px;
  color: #333333;
  font-family: 'VT323', monospace;
}
.button:hover {
  background-color: #ff0000;
  color: white;
}
label.button {
  cursor: pointer;
}
input[type='radio'] {
  opacity: 0;
  width: 0;
  height: 0;
  position: relative;
  top: 10px;
}
input[type='radio']:checked ~ label {
  background-color: #ff0000;
  color: white;
}
input[type='text']{
  cursor: auto;
}
input[type='number'] {
  cursor: auto;
}

#startScreen button:nth-child(2) {
  margin-bottom: 10px;
}
#startScreen h1 {
  margin-top: -0.25em;
  color: white;
  text-shadow: 2px 2px #ff0000;
}
#settingScreen {
  background-color: white;
  color: #333333;
  font-family: 'VT323', monospace;
}
#ratingScreen {
  color: #333333;
  background-color: #333333;
}
#ratingScreen:hover {
  background-color:white;
}
.selecter {
  display: flex;
  justify-content: space-around;
}
table {
  width: 100vw;
  white-space: nowrap;
}
.wrapper {
  overflow-x: auto;
}
ul {
   list-style-type: none;
}
a {
  margin: 0;
  padding: 0;
  display: inherit;
}
@media screen and (orientation: portrait) {
  #canvas canvas {
    transform: translateY(-100%) rotate(90deg);
    transform-origin: left bottom;
    height: 100vw !important;
    width: 100vh !important;
  }
}
